
<html>
<head>
 <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<style>
body {
 font-family: 'Alata', sans-serif;
}
</style>
<title>Luet repositories package list</title>
</head>


<body>
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Luet repositories package list
      </h1>
      <h2 class="subtitle">
        Here you can find packages and metadata from Luet repositories
      </h2>
    </div>
  </div>
</section>
<section class="section">
    <div class="container">

{{ $additionalData := .AdditionalData }}
{{ range $_, $repo := .Repositories }}  
{{ $data := index $additionalData $repo.Name}}
{{ $github := index $data "github" }}
<a href="/{{$repo.Name}}">
    <div class="container m-1 notification is-primary">
      <h1 class="title">{{$repo.Name}}</h1>
      <h2 class="subtitle">
        {{$repo.Description}} - {{$github}}
      </h2>
    </div>
    </a>
{{end}}
</div>
</section>

</body>

</html>