{{ $reponame := .RepositoryName }}
{{ $additionalData := .AdditionalData }}
{{ $data := index $additionalData $reponame}}
{{ $github := index $data "github" }}
<html>
<head>
 <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet"> 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
<style>
body {
 font-family: 'Alata', sans-serif;
}
</style>

</head>


<body>
<section class="hero is-mobile">
  <div class="hero-body">
    <div class="container ">
        <div class="columns is-multiline is-mobile ">

        <div class="column is-half">
          <h1 class="title">
            <a href="/"><span class="icon has-text-primary is-medium 	"> <i class="fas fa-home"></i></span> </a> {{$reponame}}
          </h1>
        </div>

        <div class="column is-half">
   
        </div>

        <div class="column is-half">

              <h2 class="subtitle">

        List packages and versions available in "{{$reponame}}" repository
             </h2>
        </div>
        <div class="column is-half">
                      <a href="{{$github}}"><span class="icon has-text-dark 	"> <i class="fas fa-code-branch"></i></span> </a>
        </div>
  </div>
 
    </div>
  </div>
</section>

<div class="container is-mobile">
 <table class="table container is-hoverable is-fullwidth is-striped ">
  <thead>
    <tr>
      <th class="sort" data-sort="name" ><abbr title="Name">Name</abbr></th>
      <th class="sort" data-sort="category" >Category</th>
      <th class="sort" data-sort="version"><abbr title="Version">Version</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr title="Name">Name</abbr></th>
      <th>Category</th>
      <th><abbr title="Version">Version</abbr></th>
    </tr>
  </tfoot>
  <tbody>
  {{ range $_, $pack := .Packages }}
    <tr>
      <td class="name"><a href="/{{$reponame}}/{{$pack.Category}}/{{$pack.Name}}"> {{$pack.Name}}</a></td>
      <td class="category">{{$pack.Category}}</td>
      <td class="version"><a href="/{{$reponame}}/{{$pack.Category}}/{{$pack.Name}}/{{$pack.Version}}">{{$pack.Version}}</a></td>
      </tr>
   {{end}}
  </tbody>
 </table>
</div>


</body>

</html>